<section>
	
	<h3>About Myself</h3>

	<div class="face-lockup">
		
		<div class="face-img"></div>


		<div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
		<div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
		<div class="icon-browser">{% include icons/icon-browser.html %}</div>
		<div class="icon-video">{% include icons/icon-video.html %}</div>


	</div>

	<p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </strong>Aliquam non eros sed ligula pellentesque tincidunt vel at massa. Curabitur mattis nisl sapien, quis dapibus sem rhoncus et. Mauris quis nibh ac nisl fermentum consectetur sit amet ac nisi. Etiam fermentum lectus augue, viverra dictum dolor fringilla vitae. Nam pharetra orci a tincidunt feugiat. Donec quis hendrerit ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae odio consequat, efficitur nisi non, laoreet arcu. Nulla facilisi. Nunc imperdiet sem non egestas dictum. Donec vitae pellentesque orci. Donec pretium nisi aliquet, porta velit et, venenatis elit.</p>

	<div class="skill-lockup">

	</div>


</section>